<!DOCTYPE html>

<head>
</head>

<body>

  <div id="header">
    sign up
  </div>

  <div id="signup">
    <form>
        <label for="username">username</label>
        <input type="text" id="username" placeholder="username">

        <label for="age">age</label>
        <input type="number" id="age" min="1">

        <label for="email">email</label>
        <input type="text" id="email" placeholder="email">

        <button disabled type="submit" id="submit">submit</button>
    </form> 
  </div>

</body>

</html>