<!DOCTYPE html>

<head>

  <script type="text/javascript" src="assets/js/lib/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="assets/js/index.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/index.css" />

</head>

<body>

<div id="box">

	<div id="heading">
		<h2>CLICK THE COOKIE</h2>
		<div>SCORE: <span id="score" class="win"></span></div>
		<div>LIVES: <span id="lives" class="lose"></span></div>
	</div>

	<div id="controls">
		<button id="play">PLAY</button>
		<button id="pause">PAUSE</button>
		<button id="new">NEW GAME</button>
	</div>

	<div id="grid">
	</div>
</div>

</body>


</html>